<% content_for :title, "Editing Inventory Item" %>
<div class="w-full flex justify-center mt-10 px-4">
  <div class="w-full max-w-6xl bg-gray-900/40 backdrop-blur-2xl border border-gray-700/40 shadow-2xl rounded-2xl p-10 text-white">
    <h1 class="font-bold text-5xl bg-gradient-to-r from-yellow-300 via-amber-400 to-teal-300 bg-clip-text text-transparent text-center mb-8">
      🅔🅓🅘🅣 🅘🅝🅥🅔🅝🅣🅞🅡🅨 🅘🅣🅔🅜
      </h1>

    <%= render "form", inventory_item: @inventory_item %>

    <%= link_to "Show this item", @inventory_item, class: "ml-2 rounded-lg py-3 px-5 bg-gray-800 inline-block font-medium" %>
    <%= link_to "Back to inventory", inventory_items_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-800 inline-block font-medium" %>
  </div>
</div>
