<% content_for :title, "Editing ingredient" %>

<div class="w-full flex justify-center mt-10 px-4">
  <div class="w-full max-w-6xl bg-gray-900/40 backdrop-blur-2xl border border-gray-700/40 shadow-2xl rounded-2xl p-10 text-white">
    <h1 class="font-bold text-5xl bg-gradient-to-r from-yellow-300 via-amber-400 to-lime-300 bg-clip-text text-transparent text-center mb-8"> 
      🅔🅓🅘🅣🅘🅝🅖 🅘🅝🅖🅡🅔🅓🅘🅔🅝🅣
    </h1>
    <%= render "form", ingredient: @ingredient %>

    <div class="mt-8 flex justify-end gap-4">

      <%= link_to "Show this ingredient", 
        @ingredient, 
        class: "rounded-md px-4 py-2.5 bg-[#A90DFD] text-white hover:bg-gray-300 font-medium inline-block" %>

      <%= link_to "Back to ingredients",
        ingredients_path, 
        class: "rounded-md px-3.5 py-2.5 bg-[#A90DFD] text-white hover:bg-gray-300 inline-block font-medium" %>

    </div>

  </div>
</div>
