<% content_for :title, "New ingredient" %>

<div class="w-full flex justify-center mt-10 px-4">
  <div class="w-full max-w-4xl bg-gray-900/40 backdrop-blur-xl border border-gray-700/40 shadow-2xl rounded-2xl p-8">

    <h1 class="font-bold text-4xl bg-gradient-to-r from-purple-700 via-purple-100 to-purple-700 bg-clip-text text-transparent text-center mb-6">
      π„½π…΄π†† π„Έπ…½π…¶π†π…΄π…³π…Έπ…΄π…½π†ƒ
    </h1>

    <%= render "form", ingredient: @ingredient %>

    <div class="mt-6 text-center">
      <%= link_to "Back to ingredients",
          ingredients_path,
          class: "inline-block rounded-md px-4 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium shadow" %>
    </div>

  </div>
</div>

